body {
    background-color: #314252;
    /*    background-image: url(images/)*/
    background-repeat: no-repeat;
    color: #131a20;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: #b6babb;
    background-image: url(images/spaceBanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: .7em;
    text-shadow: 2px 2px 3px #131a20;
    margin-top: 0px;
    margin-bottom: 0px;
}

header h1 {
    padding-top: 3px;
    padding-bottom: 3px;
}

nav {
    font-weight: bold;
    text-align: center;
    background-color: #131a20;
}

nav ul {
    list-style-type: none;
    font-size: 1em;
    padding: 5px 10px 5px;
    margin: 0;
}

nav a {
    text-decoration: none;
    text-shadow: 0px 0px 1px black;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    background-color: #314252;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

nav a:link {
    color: #b6babb;
}

nav a:visited {
    color: #131a20;
}

nav a:hover {
    color: mediumpurple;
}

nav a:active {
    color: mediumpurple;
}

main {
    background-color: #b6babb;
    display: block;
    font-size: .7em;
    padding: 3px;
}

main ul {
    list-style-type: armenian;
}

main ul li {}

main a {
    text-decoration: none;
    font-style: italic;
    color: inherit;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
}

h2 {
    color: #314252;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}

h3 {
    font-family: Georgia, "Times New Roman", serif;
}

p {}

footer {
    color: #333333;
    font-size: .4em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    background-color: #131a20;
    padding-top: 2px;
    padding-bottom: 2px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 480px;
    background: linear-gradient(to bottom, #314252 280px, #131a20)
}

#contact a {
    font-weight: bold;
}