body {
    color: lightcyan;
    background-color: #b6babb;
    font-family: sans-serif;
    font-size: 110%;
    text-shadow: 0px 0px 1px black;
    text-shadow: 0px 0px 2px black;
    background-image: url(images/tardisDoorMono.jpg);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
}

header {
    color: #b6babb;
    background-image: url(images/spaceBanner.jpg);
    border-radius: 50px;
    font-size: 200%;
    line-height: 400%;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

nav {
    color: #b6babb;
    background: radial-gradient(ellipse farthest-corner, #314252, #131a20);
    font-family: sans-serif;
    font-size: 180%;
    line-height: 200%;
    text-align: center;
    text-shadow: 0px 0px 7px black;
    margin-bottom: 3%;
}

h1 {
    color: #b6babb;
    margin-top: 0;
    font-family: serif;
    font-size: 180%;
    line-height: 200%;
}

h3 {
    color: #b6babb;
    margin-bottom: 0;
    margin-top: 0;
    font-family: serif;
    font-size: 150%;
    line-height: 150%;
}

dt {
    color: #b6babb;
    margin-left: .5%;
    margin-right: .5%;
    font-family: serif;
    font-size: 125%;
}

p {
    background-color: rgba(0, 0, 0, .6);
    padding: 20px;
    border-width: medium;
    border-style: solid;
    border-radius: 50px;
    border-color: #314252;
}

.link {
    text-decoration: none;
}

.current {
    text-decoration: none;
    color: dimgrey;
}

.emailLink {
    color: whitesmoke;
    text-decoration: none;
}

footer {
    color: #314252;
    text-align: center;
    margin-top: 5%;
    text-shadow: 0px 0px 3px black;
}

#wrapper {
    width: 85%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}